.characters {
  justify-content: center;
  margin: 0px 30px;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fill, 220px);
  grid-gap: 10px;
  position: relative;
  padding: 10px;
}
